* @CarlosVergaraChile

# Specific ownership
/payment-gateways/* @CarlosVergaraChile
/authentication/* @CarlosVergaraChile
/encryption/* @CarlosVergaraChile
/tests/* @CarlosVergaraChile
/documentation/* @CarlosVergaraChile